@import url('https://fonts.googleapis.com/css?family=Orbitron');

// FONTS:

$orbitron: 'Orbitron', sans-serif;

// COLORS:

$red: #E71D36;
$gunmetal: #253237;
$dark-grey: #5C6B73;
$light-grey: #9DB4C0;
$tea-green: #C7EFCF;
$light-cyan: #E0FBFC;

.buttonContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  font-family: $orbitron;
  font-size: 25px;
  color: $light-cyan;
  background-color: $gunmetal;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  min-width: 310px;
  background-color: $dark-grey;
}

.calculatorBody {
  margin: 25px 10px;
  height: 500px;
  width: 300px;
  padding: 10px 25px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: $light-grey;
}

.title {
  padding: 10px;

  h1{
    font-family: $orbitron;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
  }

}

.display {
  background-color: $tea-green;
  padding: 5px;
  border-radius: 10px;

  p {
    font-family: $orbitron;
    text-align: right;
  }

  p:last-of-type {
    margin-top: 5px;
    font-size: 35px;
  }

}

.buttonsMainContainer {
  display: flex;
  height: 70%;
  margin: 10px 0 25px 0;
}

.mainButtons {
  width: 75%;
}

.mainButtonsRow {
  height: 20%;
  width: 100%;

  .buttonContainer {
    width: 31%;
    height: 100%;
  }
}

.rightButtons {
  width: 25%;

  .buttonContainer {
    width: 100%;
    height: 20%;
  }

  .buttonContainer:last-of-type {
    height: 40%;
  }
}

@media screen and (min-width: 576px) {

  .calculatorBody {
    position: relative;
    top: 15vh;
    margin: 0;
    width: 400px;
  }

  .mainButtonsRow {

    .buttonContainer {
      width: 32%;
    }
  }

}